 section#contact {
    background-color: #222;
    background-position: center;
    background-repeat: no-repeat;
}
h3.section-subheading.text-muted.invert{
    color: #fed136;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    margin: 20px;
}
p.contact {
    color: #fed;
}
.team-member img{
 max-height: 200px;
 max-width: 200px;
}
header{
 background-color: black;
 min-height:800px;
}
